{% extends "pages/base.html" %}

{% block titile %}{{post.title}}{% endblock titile %}

{% block content %}
    <h3><a href="{% url 'post' post.id  %}">{{post.title}}</a></h3>
    <img src ={{post.image.url}} width ="500px" height="300px">
    <h6> on {{post.date}} </h6>
    {{post.body|safe|linebreaks}}
    {% for comment in post.comments.all %}
        <h4>{{comment.author}}</h4>
        <h6>{{comment.date}}</h6>
        <p>{{comment.body|linebreaks}}
    
    {% endfor %}
    {% if user.username %}
        <form action="{% url 'post' post.id%}" method ='POST'>
            {% csrf_token %}
            <p><label>binh luan</lable></p>
            {{form.body}}
            <br>
            <input type ="submit" value="binh luan">
        </form>
    {% else %}
    {% endif %}
{% endblock content %}