<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %} type="text/css">
    <title>{% block title  %}{% endblock  %}</title>
    <style>
        html,
        body {
            height: 100%;
        }
    </style>
</head>

<body>
    <div class=container-fluid style="min-height: 95%">
        <div class="row">
            <div class="col-sm-2">
                <center><img src={% static 'images/cabin.png' %} class="responsive-img" style="max-height:150px">
                </center>
            </div>
            <div class="col-sm-9">
                <center>
                    <h1>Blog lam tu python</h1>
                </center>
            </div>
            <div class="col-sm-1">
                {% if user.username %}
                    <p>Xin chao {{user.username}}</p>
                    <p><a href="{% url 'logout' %}">Dang xuat</a></p>
                {% else %}
                    <p><a href="{% url 'register' %}">Dang ky</a></p>
                    <p><a href="{% url 'login' %}">Dang nhap</a></p>
                {% endif %}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-2">
                <div class="bs-sliderbar">
                    <ul class="nav flex-column">
                        <li><a href="">Info</a></li>
                        <li><a href="{% url 'blog' %}">Write</a></li>
                        <li><a href="{% url 'contact' %}">contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="container-fluid">
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid">
            <a href="">Fb</a><a href="">Google</a><a href="">Twiter</a>
        </div>
    </footer>
</body>

</html>