<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <center>
        <form action='.' method='POST'>
            {% csrf_token %}
            {% for key,value in form.errors.items %}
                {{value}}
            {% endfor %}
            <p><label for="">Tai khoan</label>{{form.username}}</p>
            <p><label for="">Mat khau</label>{{form.password}}</p>
            <input type="hidden" name='next' value="/" >
            <input type="submit" value="dang nhap">
        </form>
    </center>
</body>
</html>