<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %} type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <script type="javascripts" src='{% static 'css/bootstrap.min.css' %}'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1 text-info">INTERNSHIP</span>
        <span class="text-info font-italic">The leader application</span>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#22b8cf; position: sticky; top: 0; z-index: 1000">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Add new member</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid ">
        <div class="row flex-xl-nowrap">
            <div class="col-0 col-md-3 col-xl-2 bd-sidebar bg-light" style="position: sticky">
                <nav class="bd-links" id="bd-docs-nav">
                    <div class="bd-toc-item active">
                        <a href="#" class="bd-toc-link h5 nav-link text-info"></a>
                    </div>
                </nav>
            </div>
            <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
                <h1 class="bd-title text-justify mx-auto text-info">The leader of this weak</h1>
                <p class="bd-lead text-info">This member will be handle the jobs ... in this weak</p>
                <div class="row">
                    <div class="col-6 col-md-4 col-lg-3 p-2">
                        <a class="d-block mx-auto" href="#portfolio-modal-1">
                            <img class="img-fluid" src="{% static 'images/cabin.png' %}" alt="">
                        </a>
                    </div>
                    <div class="col-5 col-md-2 col-lg-7">
                        <div class="d-flex">
                            <div class="mt-1 ml-0 p-0">
                                <p class="text-info">Name: John weak</p>
                                <p class="text-info">Email: John@abc.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="bd-title text-justify mx-auto text-info">All team members</h2>
                <div class="row">
                    <div class="col-6 col-md-2 col-lg-2 p-2">
                        <a class="d-block mx-auto" href="#portfolio-modal-1">
                            <div class="d-flex position-absolute h-100 w-100">
                                <div class="mx-auto w-100 font-weight-bold text-center text-info">
                                </div>
                            </div>
                            <img class="img-fluid" src="{% static 'images/cabin.png' %}" alt="">
                        </a>
                        <div class="mx-auto my-auto font-weight-bold text-center text-info">Name</div>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2 p-2">
                        <a class="d-block mx-auto" href="#portfolio-modal-2">
                            <div class="d-flex position-absolute h-100 w-100">
                                <div class="mx-auto w-100 font-weight-bold text-center text-info">
                                </div>
                            </div>
                            <img class="img-fluid" src="{% static 'images/cabin.png' %}" alt="">
                        </a>
                        <div class="mx-auto my-auto font-weight-bold text-center text-info">Name</div>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2 p-2">
                        <a class="d-block mx-auto" href="#portfolio-modal-3">
                            <div class="d-flex position-absolute h-100 w-100">
                                <div class="mx-auto w-100 font-weight-bold text-center text-info">
                                </div>
                            </div>
                            <img class="img-fluid" src="{% static 'images/cabin.png' %}" alt="">
                        </a>
                        <div class="mx-auto my-auto font-weight-bold text-center text-info">Name</div>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2 p-2">
                        <a class="d-block mx-auto" href="#portfolio-modal-4">
                            <div class="d-flex position-absolute h-100 w-100">
                                <div class="mx-auto w-100 font-weight-bold text-center text-info">
                                </div>
                            </div>
                            <img class="img-fluid" src="{% static 'images/cabin.png' %}" alt="">
                        </a>
                        <div class="mx-auto my-auto font-weight-bold text-center text-info">Name</div>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2 p-2">
                        <a class="d-block mx-auto" href="#portfolio-modal-5">
                            <div class="d-flex position-absolute h-100 w-100">
                                <div class="mx-auto w-100 font-weight-bold text-center text-info">
                                </div>
                            </div>
                            <img class="img-fluid" src="{% static 'images/cabin.png' %}" alt="">
                        </a>
                        <div class="mx-auto my-auto font-weight-bold text-center text-info">Name</div>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2 p-2">
                        <a class="d-block mx-auto" href="#portfolio-modal-6">
                            <div class="d-flex position-absolute h-100 w-100">
                                <div class="mx-auto w-100 font-weight-bold text-center text-info">
                                </div>
                            </div>
                            <img class="img-fluid" src="{% static 'images/cabin.png' %}" alt="">
                        </a>
                        <div class="mx-auto my-auto font-weight-bold text-center text-info">Name</div>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2 p-2">
                        <a class="d-block mx-auto" href="#portfolio-modal-1">
                            <div class="d-flex position-absolute h-100 w-100">
                                <div class="mx-auto w-100 font-weight-bold text-center text-info">
                                </div>
                            </div>
                            <img class="img-fluid" src="{% static 'images/cabin.png' %}" alt="">
                        </a>
                        <div class="mx-auto my-auto font-weight-bold text-center text-info">Name</div>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2 p-2">
                        <a class="d-block mx-auto" href="#portfolio-modal-2">
                            <div class="d-flex position-absolute h-100 w-100">
                                <div class="mx-auto w-100 font-weight-bold text-center text-info">
                                </div>
                            </div>
                            <img class="img-fluid" src="{% static 'images/cabin.png' %}" alt="">
                        </a>
                        <div class="mx-auto my-auto font-weight-bold text-center text-info">Name</div>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2 p-2">
                        <a class="d-block mx-auto" href="#portfolio-modal-3">
                            <div class="d-flex position-absolute h-100 w-100">
                                <div class="mx-auto w-100 font-weight-bold text-center text-info">
                                </div>
                            </div>
                            <img class="img-fluid" src="{% static 'images/cabin.png' %}" alt="">
                        </a>
                        <div class="mx-auto my-auto font-weight-bold text-center text-info">Name</div>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2 p-2">
                        <a class="d-block mx-auto" href="#portfolio-modal-4">
                            <div class="d-flex position-absolute h-100 w-100">
                                <div class="mx-auto w-100 font-weight-bold text-center text-info">
                                </div>
                            </div>
                            <img class="img-fluid" src="{% static 'images/cabin.png' %}" alt="">
                        </a>
                        <div class="mx-auto my-auto font-weight-bold text-center text-info">Name</div>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2 p-2">
                        <a class="d-block mx-auto" href="#portfolio-modal-5">
                            <div class="d-flex position-absolute h-100 w-100">
                                <div class="mx-auto w-100 font-weight-bold text-center text-info">
                                </div>
                            </div>
                            <img class="img-fluid" src="{% static 'images/cabin.png' %}" alt="">
                        </a>
                        <div class="mx-auto my-auto font-weight-bold text-center text-info">Name</div>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2 p-2">
                        <a class="d-block mx-auto" href="#portfolio-modal-6">
                            <div class="d-flex position-absolute h-100 w-100">
                                <div class="mx-auto w-100 font-weight-bold text-center text-info">
                                </div>
                            </div>
                            <img class="img-fluid" src="{% static 'images/cabin.png' %}" alt="">
                        </a>
                        <div class="mx-auto my-auto font-weight-bold text-center text-info">Name</div>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2 p-2">
                        <a class="d-block mx-auto" href="#portfolio-modal-1">
                            <div class="d-flex position-absolute h-100 w-100">
                                <div class="mx-auto w-100 font-weight-bold text-center text-info">
                                </div>
                            </div>
                            <img class="img-fluid" src="{% static 'images/cabin.png' %}" alt="">
                        </a>
                        <div class="mx-auto my-auto font-weight-bold text-center text-info">Name</div>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2 p-2">
                        <a class="d-block mx-auto" href="#portfolio-modal-2">
                            <div class="d-flex position-absolute h-100 w-100">
                                <div class="mx-auto w-100 font-weight-bold text-center text-info">
                                </div>
                            </div>
                            <img class="img-fluid" src="{% static 'images/cabin.png' %}" alt="">
                        </a>
                        <div class="mx-auto my-auto font-weight-bold text-center text-info">Name</div>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2 p-2">
                        <a class="d-block mx-auto" href="#portfolio-modal-3">
                            <div class="d-flex position-absolute h-100 w-100">
                                <div class="mx-auto w-100 font-weight-bold text-center text-info">
                                </div>
                            </div>
                            <img class="img-fluid" src="{% static 'images/cabin.png' %}" alt="">
                        </a>
                        <div class="mx-auto my-auto font-weight-bold text-center text-info">Name</div>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2 p-2">
                        <a class="d-block mx-auto" href="#portfolio-modal-4">
                            <div class="d-flex position-absolute h-100 w-100">
                                <div class="mx-auto w-100 font-weight-bold text-center text-info">
                                </div>
                            </div>
                            <img class="img-fluid" src="{% static 'images/cabin.png' %}" alt="">
                        </a>
                        <div class="mx-auto my-auto font-weight-bold text-center text-info">Name</div>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2 p-2">
                        <a class="d-block mx-auto" href="#portfolio-modal-5">
                            <div class="d-flex position-absolute h-100 w-100">
                                <div class="mx-auto w-100 font-weight-bold text-center text-info">
                                </div>
                            </div>
                            <img class="img-fluid" src="{% static 'images/cabin.png' %}" alt="">
                        </a>
                        <div class="mx-auto my-auto font-weight-bold text-center text-info">Name</div>
                    </div>
                    <div class="col-6 col-md-2 col-lg-2 p-2">
                        <a class="d-block mx-auto" href="#portfolio-modal-6">
                            <div class="d-flex position-absolute h-100 w-100">
                                <div class="mx-auto w-100 font-weight-bold text-center text-info">
                                </div>
                            </div>
                            <img class="img-fluid" src="{% static 'images/cabin.png' %}" alt="">
                        </a>
                        <div class="mx-auto my-auto font-weight-bold text-center text-info">Name</div>
                    </div>
                </div>
            </main>
            <div class="col-0 col-md-3 col-xl-2 bd-sidebar bg-light" style="position: sticky;">
                <nav class="bd-links" id="bd-docs-nav">
                    <div class="bd-toc-item active">
                        <a href="#" class="bd-toc-link h5 nav-link text-info"></a>
                    </div>
                </nav>
            </div>
        </div>
        
    </div>
    <footer>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#22b8cf; height: 10%;">
            <span class="mx-auto my-3 text-light h5 ">Internship team</span>
        </nav>
    </footer>
</body>

</html>